* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  color: #eee
}

section {
  padding: 6rem 0;
}

body {
  width: 100%;
  height: 100%;
  background: url("imgs/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}

a{
  text-decoration: none;
  color: #eee
}

p{
  font-size: 1.8rem;
  font-weight:300;
}

img{
  width: 100%;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
}

.section-heading {
  text-align: center;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255,255,255, .3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255, 0.75);
}

.section-heading h1::before {
  width: 18rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -200vh;
  z-index: 50;
  background-color: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0 2rem;
}

.nav-link {
  font-family: sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #0fbcf9, #F5F5DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler{
  position: fixed;
  top: 8%;
  width: 5rem;
  right: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 100ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-90deg);
}

.bar{
  background: linear-gradient(to right, #0fbcf9, #F5F5DC);
  width: 100%;
  height: 4px;
  border-radius: .8rem;   
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1{
  font-size: 20rem;
  font-family: sans-serif;
  background: linear-gradient(to top, #0fbcf9, #F5F5DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 3rem;
  font-weight: 300;
}

/* About START */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1{
  font-size: 10rem;
  opacity: .3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.about-details {
  flex: 1;
}

.about-details p {
  text-align: center;
}

.external-links {
  margin-top: 5rem;
}

.external-links i {
  font-size: 5rem;
  transition: color 650ms;
}

.fa-github-square:hover {
  color: #586069
}

.fa-linkedin:hover {
  color: #2867B2
}

/* About END */

/* Areas of Interest */

.specialties {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.specialty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.specialty h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2rem -2px 2rem 0;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #0fbcf9;
  background-color: #F5F5DC;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}

.icon-container i {
  color: #0fbcf9;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}

/* Coding Skills START */

.coding-skill {
  width: 100%;
  max-width: 600px;
  /* padding: 0 0; */
  margin: 0 auto;
}

.coding-skill-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar {
  height: 20px;
  background-color: #cacaca;
  border-radius: 8px;
}

.skill-percent {
  height: 20px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-percent::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-percent::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

/* Coding Skills END */

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-img img {
  width: 99%;
}
.portfolio-img img:hover {
  width: 100%;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description p {
  width: 95%;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  color: #3882ff;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}

/* Timeline START */

.timeline {
  display: block;
  width: 100%;
  padding-left: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #4298C3;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 1;
}

.timeline .item {
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  padding: 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: 800px;
}

.timeline .item + .item {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.timeline .item:before {
  content: attr(data-time);
  position: absolute;
  left: -20rem;
  top: 55px;
  text-align: left;
  display: block;
  font-size: 1.8rem;
}

.timeline .item:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 4px solid #4298C3;
  position: absolute;
  left: -13px;
  top: 50px;
  border-radius: 100%;
  background-color: #252827;
  z-index: 2;
}

.timeline .item h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.timeline .item p {
  line-height: 1.5;
}

/* Timeline END */

.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

@keyframes pulse {
  0%{
      box-shadow: 0 0 0 0 #0fbcf9;
  }
  70%{
      box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100%{
      box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

/* media queries */
@media screen and (max-width: 1080px) {
  .nav-link {
      font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
      background: url("imgs/sitebg2.jpg") no-repeat center fixed;
      background-size: cover;
  }
  
  .landing-text h1 {
      font-size: 15rem;
  }

  .landing-text h6 {
      font-size: 1.7rem;
  }

  .nav-list {
      flex-direction: column;
  }

  li {
      margin: 2rem 0;
  }

  .nav-link {
      font-size: 4.5rem;
  }

  .about-heading h1 {
      font-size: 8rem;
  }

  .section-heading h1 {
      font-size: 3rem;
  }

  .about-details .nav-list {
      flex-direction: initial;
  }

  .about-details li {
      margin: 0 2rem;
  }

  .icon-container {
      width: 7rem;
      height: 7rem;
  }
  
  .icon-container i {
      font-size: 4rem;
  }

  .timeline .item:before {
      left: -14rem;
      width: 130px;
      font-size: 2.5rem;
      top: 20%;
  }

  .timeline .date::after {
      left: -5.9rem;
  }
}

@media screen and (max-width: 600px) {
  
  .menu-toggler {
      right: 2rem;
  }

  .landing-text h1 {
      font-size: 8rem;
  }

  .landing-text h6 {
      font-size: 1.4rem;
  }

  .nav-link {
      font-size: 3.4rem;
  }

  .about .container {
      flex-direction: column;
  }

  .profile-img {
      margin: 0 0 7rem 0;
  }

  .portfolio-item {
      flex-direction: column;
  }

  .portfolio-img {
      margin: 0 0 2rem 0;
      order: 1;
  }

  .portfolio-description {
      margin: 0;
      order: 2;
  }

  .timeline {
      padding-left: 110px;
  }

  .timeline:before {
      left: 110px;
  }
  
  .timeline .item:before {
      left: -115px;
      width: 100px;
      font-size: 2rem;
  }

  form {
      width: 100%;
  }

  .up {
      right: 2rem;
  }
}

/* Targetting iPhone */
@media screen and (max-width: 600px) {

  h1 {
      font-size: 2.5rem;
  }

  p {
      font-size: 2.3rem;
  }

  .landing-text h6 {
      font-size: 3rem;
  }

  .menu-toggler {
      top: 4%;
      right: 8%;
  }

  .about-details p {
      font-size: 2.5rem;
  }

  .section-heading h1 {
      font-size: 5rem;
  }

  .section-heading h6 {
      font-size: 2rem;
  }

  .timeline {
      display: block;
      width: 100%;
      padding-left: 2%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: relative;
  }
    
  .timeline:before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: #4298C3;
      position: absolute;
      left: 2%;
      top: 0;
      z-index: 1;
  }

  .timeline .item:before {
      content: attr(data-time);
      position: relative;
      left: 0;
      top: 0;
      text-align: left;
      display: block;
      width: 100%;
      font-size: 1.8rem;
  }

  .timeline .item h3 {
      width: 250px;
  }
  
  .timeline .item p {
      width: 250px;
      font-size: 2rem;
  }
}